In [11]:
import pandas as pd
import numpy as np

In [12]:
df_offer = pd.read_csv('../../../data/00_raw/ofertas_relampago.csv')

Siguiendo la analysis de lo notebook 0:
- Converter los tipos de datos de tiempo para datetime
- deletar la columna OFFER_TYPE
- Añadir un tipo 'Otros' para la columna de ORIGIN

In [15]:
df_offer['OFFER_START_DATE'] = pd.to_datetime(df_offer['OFFER_START_DATE'])
df_offer['OFFER_START_DTTM'] = pd.to_datetime(df_offer['OFFER_START_DTTM'])
df_offer['OFFER_FINISH_DTTM'] = pd.to_datetime(df_offer['OFFER_FINISH_DTTM'])

In [16]:
df_offer.drop(columns = 'OFFER_TYPE',inplace=True)

In [17]:
df_offer.loc[df_offer['ORIGIN'].isnull(),'ORIGIN'] = 'Otros'

En la teoria, las ofertas relampago son ofertas que duran algunas horas, vamos crear variables de tiempo como:
- Horas que lo producto tuve la promo
- Cual dia de la semana
- Cual mes, si existir más de uno mes

In [18]:
df_offer.sample(3)

,OFFER_START_DATE,OFFER_START_DTTM,OFFER_FINISH_DTTM,INVOLVED_STOCK,REMAINING_STOCK_AFTER_END,SOLD_AMOUNT,SOLD_QUANTITY,ORIGIN,SHIPPING_PAYMENT_TYPE,DOM_DOMAIN_AGG1,VERTICAL,DOMAIN_ID
48355,2021-06-19,2021-06-19 13:00:00+00:00,2021-06-19 19:00:02+00:00,5,5,NaN,NaN,Otros,free_shipping,ELECTRONICS,CE,MLM-TV_AND_MONITOR_MOUNTS
15562,2021-06-03,2021-06-03 13:00:00+00:00,2021-06-03 19:00:17+00:00,5,3,NaN,NaN,Otros,free_shipping,HOME&DECOR,HOME & INDUSTRY,MLM-FRAME_POOLS
20822,2021-06-27,2021-06-27 07:00:00+00:00,2021-06-27 07:00:02+00:00,15,15,NaN,NaN,Otros,none,PET PRODUCTS,OTHERS,MLM-ANIMAL_AND_PET_PRODUCTS

In [25]:
def compute_duration_hours(df, start_col, end_col):
    """
    Calcula la duración en horas entre dos columnas de tipo datetime en un DataFrame.

    Parámetros:
        df (pd.DataFrame): DataFrame que contiene las columnas de fecha y hora.
        start_col (str): Nombre de la columna con la fecha/hora de inicio.
        end_col (str): Nombre de la columna con la fecha/hora de fin.

    Retorna:
        pd.Series: Serie de pandas con la duración en horas (tipo float) para cada fila.
    
    Lanza:
        TypeError: Si alguna de las columnas no es de tipo datetime.
    """
    if not pd.api.types.is_datetime64_any_dtype(df[start_col]):
        raise TypeError(f"La columna '{start_col}' debe ser de tipo datetime.")
    if not pd.api.types.is_datetime64_any_dtype(df[end_col]):
        raise TypeError(f"La columna '{end_col}' debe ser de tipo datetime.")

    return (df[end_col] - df[start_col]).dt.total_seconds() / 3600

In [29]:
df_offer['DURATION_HOURS'] = compute_duration_hours(df_offer,'OFFER_START_DTTM','OFFER_FINISH_DTTM')

In [30]:
df_offer.sample(3)

,OFFER_START_DATE,OFFER_START_DTTM,OFFER_FINISH_DTTM,INVOLVED_STOCK,REMAINING_STOCK_AFTER_END,SOLD_AMOUNT,SOLD_QUANTITY,ORIGIN,SHIPPING_PAYMENT_TYPE,DOM_DOMAIN_AGG1,VERTICAL,DOMAIN_ID,DURATION_HOURS
39037,2021-07-29,2021-07-29 19:00:00+00:00,2021-07-29 22:24:23+00:00,15,0,28.18,15.0,Otros,none,PERSONAL CARE,BEAUTY & HEALTH,MLM-MANICURE_AND_PEDICURE_SUPPLIES,3.406389
8688,2021-07-07,2021-07-07 13:00:00+00:00,2021-07-07 21:00:00+00:00,14,14,NaN,NaN,A,free_shipping,ELECTRONICS,CE,MLM-HAIR_CLIPPERS,8.000000
41565,2021-06-25,2021-06-25 13:00:00+00:00,2021-06-25 19:00:02+00:00,15,8,169.14,7.0,Otros,free_shipping,HOME&DECOR,HOME & INDUSTRY,MLM-SHADE_CLOTHS,6.000556

In [34]:
df_offer['START_DAY_OF_WEEK'] = df_offer['OFFER_START_DTTM'].dt.day_of_week
df_offer['START_MONTH'] = df_offer['OFFER_START_DTTM'].dt.month

La funccion de pandas dt.day_of_week empeza con lunes=0 y termina con domingo=6

In [35]:
df_offer.sample(3)

,OFFER_START_DATE,OFFER_START_DTTM,OFFER_FINISH_DTTM,INVOLVED_STOCK,REMAINING_STOCK_AFTER_END,SOLD_AMOUNT,SOLD_QUANTITY,ORIGIN,SHIPPING_PAYMENT_TYPE,DOM_DOMAIN_AGG1,VERTICAL,DOMAIN_ID,DURATION_HOURS,START_DAY_OF_WEEK,START_MONTH
3067,2021-06-12,2021-06-12 19:00:00+00:00,2021-06-13 01:00:00+00:00,9,9,NaN,NaN,Otros,none,TOYS AND GAMES,T & B,MLM-DOLLS,6.000000,5,6
30116,2021-06-14,2021-06-14 07:00:00+00:00,2021-06-14 13:00:01+00:00,5,4,3.19,1.0,Otros,free_shipping,PERSONAL CARE,BEAUTY & HEALTH,MLM-BODY_SKIN_CARE_PRODUCTS,6.000278,0,6
14285,2021-07-09,2021-07-09 11:00:00+00:00,2021-07-09 18:00:01+00:00,28,28,NaN,NaN,A,none,ELECTRONICS,CE,MLM-RANGES,7.000278,4,7

<b> Vamos crear columnas de relacionadas a monetary como:
- Cantidad vendidas por hora
- Valor vendido por hora

Nota que aun vamos tener que agregar y despues tener las cuentas tambien dado que nuestro dado esta por linea de ventas y necesitamos entender lo comportamiento de los grupos de las ofertas

In [37]:
df_offer['QUANTITY_PER_HOUR'] = df_offer['SOLD_QUANTITY'] / df_offer['DURATION_HOURS']
df_offer['AMOUNT_PER_HOUR'] = df_offer['SOLD_AMOUNT'] / df_offer['DURATION_HOURS']

In [40]:
df_offer.sample(3)

,OFFER_START_DATE,OFFER_START_DTTM,OFFER_FINISH_DTTM,INVOLVED_STOCK,REMAINING_STOCK_AFTER_END,SOLD_AMOUNT,SOLD_QUANTITY,ORIGIN,SHIPPING_PAYMENT_TYPE,DOM_DOMAIN_AGG1,VERTICAL,DOMAIN_ID,DURATION_HOURS,START_DAY_OF_WEEK,START_MONTH,QUANTITY_PER_HOUR,AMOUNT_PER_HOUR
11080,2021-07-27,2021-07-27 19:00:00+00:00,2021-07-28 01:00:05+00:00,5,3,9.17,2.0,Otros,free_shipping,APPAREL ACCESORIES,APP & SPORTS,MLM-NECKLACES,6.001389,1,7,0.333256,1.527980
44941,2021-06-29,2021-06-29 17:00:00+00:00,2021-06-30 00:00:00+00:00,20,19,2.92,1.0,A,none,PERSONAL HYGIENE,CPG,MLM-BABY_CREAMS_AND_OINTMENTS,7.000000,1,6,0.142857,0.417143
13321,2021-07-19,2021-07-19 13:00:00+00:00,2021-07-19 13:16:07+00:00,5,-3,5.21,3.0,Otros,none,AUTOPARTS,ACC,MLM-AUTOMOTIVE_LED_LIGHT_BARS,0.268611,0,7,11.168563,19.396070

Vamos salvar y empezar lo EDA

In [42]:
df_offer.to_csv('../../../data/01_processed/ofertas_relampago.parquet',index=False)